.navbar{
  padding-top: 30px;
}
.navbar p{
  float: right;
  margin: 0;
}
.navbar .nav-line{
  height: 40px;
  border: 1px solid #e42029;
}
.navbar .nav-text{
  font-family: 'gothambook';
  font-size: 14px;
  letter-spacing: 8px;
  color: #e42029;
  padding-top: 10px;
  padding-right: 20px;
}
.navbar .nav-hamburger{
  padding-left: 20px;
  padding-top: 10px;
}