/*--------header--------*/
.header{
    border-top: solid 5px #FF0000;
    width: 1150px;
    height: 126px;
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    z-index: 100;
    margin: auto;
    margin-top: 40px;
}
.header-logo{
    background: url(http://www.zhentanggroup.com/images/all/logo.png);
    width: 368px;
    height: 80px;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 26px;
    position: relative;
    float: left;
}
.header-menu{
    position: relative;
    float: right;
    width: auto;
    height: 80px;
    margin-top: 36px;
    margin-right: 26px;
}
.header-menu-title a{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    padding-right: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-menu-subtitle {
    margin-top: -5px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}
.sosmed-title{
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

.list-inline{
    padding-left: 0;
    list-style: none;
}
.list-inline li{
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
#product-menu:hover .header-menu-product{
    max-height: 2000px;
    
}
.header-menu-product{
    position: absolute;
    max-height: 00px;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    width: 1000px;
    
}
.header-menu-product ul{
    width: 250px;
    max-width: 250px;
    background-color: skyblue;
    overflow: hidden;
}
.header-menu-product ul{
    padding: 0px 10px;
}
.header-menu-product ul li{
    display: block;
    height: 40px;
    font-family: Conv_RazerF5, Arial;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
}
.header-menu-product ul li ul{
    position: absolute;
    left: 250px;
    top: 0;
    background-color: aqua;
    max-width: 0px;
    z-index: 15;
    padding: 0;
    transition: all 0.7s ease-out;
}
.product-menu-2nd:hover ul{
    max-width: 2000px;
    
}







